/* ========= App Bar ========= */
.app-bar {
  text-align: center;
}

/* ========= New Block ========= */
.new-block {
  display: flex;
  flex-wrap: nowrap;
}

.new-block-button {
  border: none;
  border-radius: 10%;
  color: black;
  background-color: white;
}

.new-block-button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.block-input {
  height: 1rem;
  border: none;
  font-size: 0.7rem;
  cursor: default;
}