/* ========= App Bar ========= */
.app-bar {
  text-align: center;
}

/* ========= New Block ========= */
.new-block {
  display: flex;
  flex-wrap: nowrap;
}

.new-block-button {
  border: none;
  border-radius: 10%;
  color: black;
  background-color: white;
}

.plus-icon {
  width: 24px;
  height: 24px;
}

.new-block-button:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.block-input {
  height: auto;
  padding-top: 0.7rem;
  border: none;
  font-size: 1rem;
  cursor: default;
  resize: none;
  overflow: hidden;
  height: auto;
  display: block;
}

input, textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}